<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @property.short_name %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @property.short_description %>
</p>

<p>
  <strong>Full description:</strong>
  <%= @property.full_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @property.postcode %>
</p>

<p>
  <strong>Active:</strong>
  <%= @property.active %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
