<!DOCTYPE html>
<html>
<head>
    <title>Lettings</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" %>

    <style type='text/css'>
        body {
            background-color: #CCC;
        }

    </style>

    <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
